body {
    margin: 0;
}


/********IMAGE STYLING***********/
.carousel_img {

    width: 100%;
    height: 100%;
}

.carousel_img_container {
    display: block;
    height: 10rem;
    width: 10rem;
    margin: 1rem;
    box-shadow: 14px 14px 5px rgb(72, 33, 4);

}


/********SLIDERS STYLING***********/
/*slider*/
.carousel_slider {
    display: flex;  
    height: auto;
    width: 100%;
    margin: auto;
}

.slider_part_1 {

    display: flex;
    height: 14rem;
    width: calc(12rem * 24);
    left: 0%;
    top: 0%;
    animation-name: scrolling_part_1;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.slider_part_1:hover {
    animation-name: scrolling_part_1;
    animation-play-state: paused;

}

.carousel_img_container:hover {

    transform: scale(1.4);
    z-index: 3;
    box-shadow: none;

}

/*Difuminados carrusel, solo funcinona el after???? cambiar fondo*/
.carousel_slider::before {
    background: linear-gradient(to right, rgb(255, 255, 255, 1), rgb(255, 255, 255, 0));
    height: 14rem;
    width: 8rem;
    position: absolute;
    content: " ";
    left: 0;

}

.carousel_slider::after {
    background: linear-gradient(to left, rgb(255, 255, 255, 1), rgb(255, 255, 255, 0));
    height: 14rem;
    width: 8rem;
    position: absolute;
    content: " ";
    right: 0;
}



/**/



/*****SLIDER ANIMATION********/

@keyframes scrolling_part_1 {

    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(calc(-11rem * 16));
    }

    100% {
        transform: translateX(-10rem);
    }

}

/****Responsive****/

@media (max-width: 700px) {

    /** Cambio de tamaño**/
    .carousel_img_container {
        height: 7rem;
        width: 7rem;
        margin: 1rem;
        box-shadow: 10px 10px 4px rgb(72, 33, 4);
    }

    .slider_part_1 {


        height: 10rem;
        width: calc(7.6rem * 24);
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;
    }

    @keyframes scrolling_part_1 {

        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(calc(-8.8rem * 16));
        }

        100% {
            transform: translateX(-7.8rem);
        }

    }

    .carousel_slider::before, .carousel_slider::after{
        width: 4rem;
        height: 10rem;
    }

}